
#my_map
{
    /*height: 100%;*/
    height: 400px; 
    width: 100%;

}

html, body 
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.pelican-navbar 
{
    background-color: #FF7F00 !important;
}



.foot
{
    text-align: center;
}